<!DOCTYPE html>
<html>
  <head>
    <title>{{ page_name }} | {{ author_name }}</title>
    <link href="/style/page.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <a href="/index.html">Home</a>
        <a href="/about.html">About</a>
        <a href="/blog.html">Blog</a>
      </nav>
    </header>
    <main>
      <h1>{{ page_name }}</h1>
      {{> content }}
    </main>
    {{> footer }}
  </body>
</html>
