body {
	background-color: whitesmoke;
}

main, footer, header {
	margin: auto;
	max-width: 900px;
}

footer, header {
	padding: 3px;
	background-color: lightgrey;
}

footer p {
	margin: 0;
	padding: 0;
	text-align: center;
}
